---
import { type Word } from "@/db/schema";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { actions } from "astro:actions";

const id = Astro.params.id as string;
const cookie = Astro.cookies.get(`const:${id}`)?.json();

let words = cookie as Word[];

if (!words) {
  const wds = await Astro.callAction(actions.constAction.words.orThrow, {
    gameId: id,
  });

  words = wds;
}

const swapOut = Astro.getActionResult(actions.constAction.swapOut);
---

<Layout title="const!">
  <main
    class="h-screen pt-16 container mx-auto flex justify-center items-center"
  >
    <section class="max-w-2xl">
      Use the following words to create a story:

      <div class="flex gap-2 flex-wrap max-w-md justify-center text-xl">
        {
          (swapOut?.data ?? words).map((word) => (
            <div class="border rounded-full flex items-center gap-2 p-2">
              <div class="dropdown">
                <div
                  tabindex="0"
                  class="btn-xs btn btn-outline btn-error btn-circle"
                >
                  <Icon name="heroicons:x-mark" />
                </div>
                <ul
                  tabindex="0"
                  class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
                >
                  <form method="POST" action={actions.constAction.swapOut}>
                    <input type="hidden" name="wordId" value={word.id} />
                    <input type="hidden" name="gameId" value={id} />
                    <li>
                      <button type="submit">Too difficult</button>
                    </li>
                    <li>
                      <button type="submit">Is this a word?</button>
                    </li>
                  </form>
                </ul>
              </div>
              {word.name}
            </div>
          ))
        }
      </div>
    </section>
  </main>
</Layout>
