---
import ContinueButton from "@/components/const/ContinueButton.vue";
import WordBadge from "@/components/const/WordBadge.vue";
import Layout from "@/layouts/Layout.astro";
import type { Definition } from "@/lib/const/dictionary";
import type { CompressedWordWithMatch } from "@/lib/const/rules";

const words: CompressedWordWithMatch[] = [
  {
    id: 16399,
    name: "constrained",
    match: false,
  },
  {
    id: 103172,
    name: "writing",
    match: false,
  },
];

const definitions: Definition[] = [
  {
    word: "constrained",
    phonetic: "/kənˈstɹeɪnd/",
    phonetics: [
      {
        text: "/kənˈstɹeɪnd/",
        audio: "",
      },
    ],
    meanings: [
      {
        partOfSpeech: "verb",
        definitions: [
          {
            definition:
              "To force physically, by strong persuasion or pressuring; to compel; to oblige.",
            synonyms: [],
            antonyms: [],
          },
          {
            definition: "To keep within close bounds; to confine.",
            synonyms: [],
            antonyms: [],
          },
          {
            definition: "To reduce a result in response to limited resources.",
            synonyms: [],
            antonyms: [],
          },
        ],
        synonyms: [],
        antonyms: [],
      },
      {
        partOfSpeech: "adjective",
        definitions: [
          {
            definition: "Kept within close bounds; confined.",
            synonyms: [],
            antonyms: [],
          },
          {
            definition: "Forced; compelled.",
            synonyms: [],
            antonyms: [],
          },
        ],
        synonyms: [],
        antonyms: [],
      },
    ],

    license: {
      name: "CC BY-SA 3.0",
      url: "https://creativecommons.org/licenses/by-sa/3.0",
    },
    sourceUrls: [
      "https://en.wiktionary.org/wiki/constrain",
      "https://en.wiktionary.org/wiki/constrained",
    ],
  },
  {
    word: "writing",
    phonetic: "/ˈɹaɪtɪŋ/",
    phonetics: [
      {
        text: "/ˈɹaɪtɪŋ/",
        audio:
          "https://api.dictionaryapi.dev/media/pronunciations/en/writing-us.mp3",
        sourceUrl: "https://commons.wikimedia.org/w/index.php?curid=1197734",
        license: {
          name: "BY-SA 3.0",
          url: "https://creativecommons.org/licenses/by-sa/3.0",
        },
      },
    ],
    meanings: [
      {
        partOfSpeech: "noun",
        definitions: [
          {
            definition:
              "Graphism of symbols such as letters that express some meaning.",
            synonyms: [],
            antonyms: [],
          },
          {
            definition:
              "Something written, such as a document, article or book.",
            synonyms: [],
            antonyms: [],
          },
          {
            definition:
              "The process of representing a language with symbols or letters.",
            synonyms: [],
            antonyms: [],
          },
          {
            definition: "A work of an author.",
            synonyms: [],
            antonyms: [],
          },
          {
            definition: "The style of writing of a person.",
            synonyms: [],
            antonyms: [],
            example: "I can't read your writing.",
          },
          {
            definition: "(as a modifier) Intended for or used in writing.",
            synonyms: [],
            antonyms: [],
            example: "a writing table",
          },
        ],
        synonyms: [
          "alphabet",
          "character",
          "ideogram",
          "logogram",
          "pictogram",
          "script",
          "syllabary",
          "writing system",
          "document",
          "manuscript",
          "text",
          "hand",
          "handwriting",
          "text",
          "work",
        ],
        antonyms: [],
      },
    ],
    license: {
      name: "CC BY-SA 3.0",
      url: "https://creativecommons.org/licenses/by-sa/3.0",
    },
    sourceUrls: ["https://en.wiktionary.org/wiki/writing"],
  },
];
---

<Layout title="const!">
  <main
    class="mx-auto flex min-h-[100dvh] max-w-6xl flex-col items-center justify-center gap-4"
  >
    <section
      class="prose flex w-full animate-fade flex-col items-center justify-center px-4 pt-8 animate-once"
    >
      <h2>How to play</h2>
      <ul>
        <li>You will be given a set of words.</li>
        <li>Use these words to write a story or a poem.</li>
        <li>
          You can view the definition of the words by clicking on the book icon.
        </li>
        <li>You can refresh the words if you don't like them.</li>
        <li>
          If so please report with reasons so that I can improve the game.
        </li>
      </ul>
    </section>
    <section class="flex flex-wrap gap-2">
      {
        words.map((word, idx) => (
          <WordBadge
            idx={idx}
            word={word}
            definitions={[definitions[idx]]}
            client:only="vue"
          />
        ))
      }
    </section>
    <section class="mt-8 flex gap-4 max-xs:flex-col">
      <form>
        <button type="submit" class="btn btn-primary w-full"
          >Start a new game</button
        >
      </form>
      <ContinueButton client:only="vue" />
    </section>
  </main>
</Layout>

<script>
  import { usePastGames } from "@/hooks/vue/useConstCode";
  import { actions } from "astro:actions";
  import { navigate } from "astro:transitions/client";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const { latestGame } = usePastGames();
    if (latestGame.value) {
      const content = localStorage.getItem(`const:code:${latestGame.value}`);
      if (content) {
        await actions.constAction.updateGame({ id: latestGame.value, content });
        localStorage.removeItem(`const:code:${latestGame}`);
      }
    }
    const { data, error } = await actions.constAction.new({});
    console.table({ data, error });

    if (data) navigate(`/game/${data}`);
  });
</script>
